.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    background-color: #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.avatar:hover {
    transform: scale(3);
}

.avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

header {
    padding: 15px 20px;
    background: linear-gradient(135deg, #007bff, #0056b3);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    color: white;
    text-align: center;
    width: 100%;
    position: relative;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 0 0 10px 10px;
}

.header-container {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

header a {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    transition: color 0.3s ease;
}

header a:hover {
    text-decoration: underline;
    color: #ffdd57;
}

.dropdown-menu {
    background-color: #76b8ff;
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.nav-link {
    color: white !important;
}

.user-info {
    margin-left: 15px;
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
}

ul, ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

li::marker {
    content: "";
}

.btn {
    display: inline-block;
    padding: 12px 20px;
    margin: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    color: white;
    background-color: #007bff;
    transition: 0.3s;
}

.btn:hover {
    background-color: #58a9ff;
}

.dropdown-item {
    width: auto!important;
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
        text-align: center;
        padding: 15px;
    }

    .header-container {
        flex-direction: column;
    }

    .avatar {
        width: 40px;
        height: 40px;
    }

    header a {
        margin-left: 0;
        margin-top: 10px;
        display: block;
    }
}
